@font-face {
    font-family: 'Futura PT';
    src: url('../fonts/futura-pt/FuturaCyrillicLight.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Futura PT';
    src: url('../fonts/futura-pt/FuturaCyrillicBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Futura PT';
    src: url('../fonts/futura-pt/FuturaCyrillicDemi.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Futura PT';
    src: url('../fonts/futura-pt/FuturaCyrillicMedium.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Termina Test';
    src: url('../fonts/Termina-Test/TerminaTest-Bold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
