:root {
    --white-color: #fff;
    --divider-color: #F1F0EC;
    --primary-color: #262626;
    --secondary-color: #6D6D6D;
    --border-color: #EEEEEE;
    --input-color: #F4F4F4;
    --popup-color: #F5F4F2;
    --popup-divider-color: #AEAEAE;
    --button-color: #3300CC;
    --button-hover-color: #9e85e7;
}

.fade-in {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}
  
.fade-in-visible {
    opacity: 1;
}
  
.custom-apple-pay-button {
    cursor: pointer;
    border-radius: 25px; 
    width: 100%; 
    max-width: 450px; 
    height: 48px; 
    padding: 0px; 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); 
    margin-bottom: 20px;
    overflow: hidden; 
}

